<section class="section">
    <nav class="navbar is-primary is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="/assets/cat.svg">
            </a>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" routerLink="/pokemon-component"  routerLinkActive="active" ariaCurrentWhenActive="page">
                    Pokemon
                </a>    
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet"
                            data-social-target="https://bulma.io" target="_blank"
                            href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>
                                Tweet
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</section>
