<div class="card">
  <div class="card-content">
    <h2>Choose your pokemon</h2>
    <h4 for="name">Pokemon name:</h4>
    <input class="input" id="name" [(ngModel)]="pokemon.name" placeholder="Insert pokemon name">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h3>{{pokemon.name}} is number {{pokemon.id}} in the pokedex</h3>
    <p>Look how this is dynamically updated thanks to 2 way databinding</p>
  </div>
</div>


<div class="card">
    <div class="card-content">
    <h2>My pokemon</h2>
    <table class="table is-bordered is-narrow">
      <div class="buttons" *ngFor="let pokemon of pokemonlist">
          <button class="button is-info">{{pokemon.id}}</button>
          <button class="button is-primary is-light">{{pokemon.name}}</button>
      </div>
    </table>
  </div>
</div>